// 颜色
primaryColor = #337ab7
infoColor = #5bc0de
dangerColor = #d9534f
successColor = #5cb85c
warningColor = #f0ad4e
defaultColor = #fff

// 文本溢出显示 ...
textOverflow()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis